.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
}

.box1 {
  height: 100vh;
  visibility: visible;
  z-index: 10;
  display: flex;
  overflow: hidden;
  padding: 20px 20px;
}

.box1 img {
  display: block;
  max-width: 100%;
}

.set {
  visibility: hidden;
  z-index: -10;
  display: none;
}

.box2 {
  height: 100vh;
  visibility: hidden;
  z-index: -10;
  display: none;
  padding: 20px 20px;
}

.box2 img {
  display: flex;
  max-width: 100%;
}

.set2 {
  visibility: visible;
  z-index: 10;
  display: flex;
}

p {
  position: absolute;
  top: 15vh;
  left: 20vh;
  color: white;
  z-index: 20;
  letter-spacing: normal;
  animation: bounce 1s infinite ease;
}

.btn {
  position: absolute;
  top: 10px;
  left: 30px;
  z-index: 10;
  animation: bounce 1s infinite ease;
}

@keyframes bounce {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale();
  }
  100% {
    transform: scale(1);
  }
}
